@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: sans-serif;
}

i {
    color: rgb(21 152 75) !important;
}

.p-btn {
    background: rgb(21 152 75);
    color: white;
}

.p-btn:hover {
    background: rgb(15, 105, 51);
}

.h1 {
    text-align: center;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.mid-flex {
    display: flex;
    min-height: 75dvh;
    align-items: center;
}

.carousel {
    width: 100%;
    height: 300px;
}

.search {
    border: none !important;
    background: #ebebeb !important;
    border-radius: 25px !important;
    margin: 0 10px 0 10px !important;
}

.categories {
    display: flex
    ;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .list {
            width: 100%;
            display: flex
            ;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: flex-start;
                    gap: 5px;
        }
}

.slick-prev:before,
.slick-next::before {
    color: black !important;
    background: white !important;
}

.slick-next, .slick-prev, .slick-dots {
    display: none !important;
}

.slick-next {
    right: 15px !important;
    z-index: 1;
}

.slick-prev {
    left: 15px !important;
    z-index: 1;
}